.page-title {
  margin-top: 60px;

  .title {
    font-size: 90px;
    text-align: center;
    color: $color-fourth;
  }
}

.section-title {
  position: relative;
  margin-top: 55px;

  .title {
    font-size: 22px;
    font-weight: 400;
    color: $color-third;

    &::after {
      content: '';
      @include position-center('top');
      width: 100%;
      height: 2px;
      background-color: $color-fourth;
      border-radius: 2px;
      margin-left: 30px;
    }
  }
}
