@import './normalize';
@import './variables';
@import './mixins';
@import './elements/elements';
@import './animation';

* {
  box-sizing: border-box;
  caret-color: $color-primary;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  &::selection {
    color: $color-first;
    background-color: $color-primary;
  }
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  overflow-x: hidden;

  @media (max-width: 992px) {
    max-width: 960px;
  }

  @media (max-width: 768px) {
    max-width: 720px;
  }

  @media (max-width: 576px) {
    max-width: 540px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-first;
  overflow-x: hidden;
}

#app-main {
  flex: 1;
}
