// Variables

// Font
$font-first: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
$font-second: 'Times', 'Times New Roman', serif;
$font-code: 'Consolas', 'Menlo', monospace;

// Colors
$color-primary: #39cccc;
$color-primary-action: #39c0c0;
$color-first: #ffffff;
$color-second: #111111;
$color-third: #aaaaaa;
$color-fourth: #dddddd;
$color-fifth: #f8f8f8;
$color-attention: #ff4136;

// Mixins variables
$box-shadow-x: 0;
$box-shadow-y: 10px;
$box-shadow-blur: 15px;
$box-shadow-spread: 0;
$box-shadow-color: rgba(0, 0, 0, 0.1);

$border-size: 2px;
$border-style: solid;
$border-color: $color-fourth;
$border-top: null;
$border-bottom: null;
$border-left: null;
$border-right: null;

$border-radius: 10px;
$border-radius-small: 5px;
