input,
select,
textarea {
  font-size: 20px;
  font-weight: 400;
  color: $color-second;
  height: 100%;
  background-color: $color-first;
  @include border(2px);
  border-radius: $border-radius-small;
  padding: 15px 20px 14px 20px;
  outline: none;

  &::placeholder {
    color: $color-third;
  }

  &:hover,
  &:focus {
    color: $color-second;
    border-color: $color-primary;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:hover::placeholder {
    color: $color-fourth;
    background-color: $color-fifth;
    border-color: $color-fourth;
    cursor: not-allowed;
  }

  @media (max-width: 576px) {
    font-size: 18px;
    padding: 15px;
  }
}
