.tasks-lists {
  &:first-child {
    margin-top: 60px;
  }

  ul {
    padding: 0;
    margin: 35px 0 0 0;
    list-style: none;
  }

  li {
    @include margin($bottom: 25px);
  }

  @media (max-width: 576px) {
    ul {
      margin-top: 25px;
    }
  }
}

.tasks-list.hidden {
  display: none;
}
